.about-company {
  display: flex;
  padding-top: 75px;
  padding-bottom: 101px;

  img {
    margin: 12px 63px 0 0
  }

  &__button-details {
    display: inline-block;
    border: 1px solid $blue-background;
    color: $blue-background;
    padding: 15px 50px;
    margin-top: 20px;
  }

  &__button-details:hover {
    background: $blue-background;
    color: #fff
  }
}

@media screen and(max-width: $tablet-width) {
  .about-company {
    padding-top: 35px;
    padding-bottom: 80px;

    &__text {
      margin-top: 7px;
    }

    img {
      margin-left: 6px;
      width: 132px;
      height: 349px
    }
  }
}

@media screen and(max-width: $mobile-width) {
  .about-company {
    padding-bottom: 64px;

    &__text {
      margin-top: 0;
    /*  max-height: 410px;
      overflow: hidden;*/

      p {
        margin-bottom: 42px;
        max-height:180px;
        overflow: hidden;
      }

      p:last-of-type {
        margin-bottom: 5px
      }
    }

    img {
      display: none
    }
  }
}
