.about-company {
    display: flex;
    padding-top: 86px;
    padding-bottom: 110px;

  img {
    margin-right: 63px
  }

  &__button-details {
    display: inline-block;
    border: 1px solid $blue-background;
    color: $blue-background;
    padding: 15px 50px;
    margin-top: 20px;
  }

  &__button-details:hover {
    background: $blue-background;
    color: #fff
  }
}

@media screen and(max-width: $tablet-width){
  .about-company {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

@media screen and(max-width: $mobile-width){
  .about-company {

    img {
      display: none
    }
  }
}
