.advantages {

  &__wrapper {
    padding-top: 113px;
    padding-bottom: 87px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages-item {
  flex-basis: 48.7%;
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue-background;
  padding: 40px 40px 66px 40px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s;
  background: #fff;

  &__icon {
    display: inline-block;
    margin-bottom: 15px;
    fill: $blue-background;
  }

  h3 {
    color: $blue-background;
  }
}

.advantages-item:hover {
  background: $blue-background;
  color: #fff;
}

.advantages-item:hover h3 {
  color: #fff
}

.advantages-item:hover .advantages-item__icon{
  fill: #fff;
}

.background-wrapper {
  &--triangles {
    background: url("../img/background-triangles.png") no-repeat;
    background-size: cover;
  }
}

