.feedback-block {
  background: $blue-background url("../img/form-triangles.png") no-repeat 100% center;
  color: #fff;

  &__wrapper {
    display: flex;
    padding-top: 92px;
    padding-bottom: 85px;
  }

  &__picture {
    width: calc(100% - 570px - 44px);
    margin-right: 100px;

    img {
      position: relative;
      left: -$feedback-block-translation;
      max-width: calc(100% + #{$feedback-block-translation});
    }
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 50px;
  }

  &__form {
    max-width: 590px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label, .button {
      width: calc((100% - 30px) / 2)
    }

    .button:hover {
      background: #fff;
      color: $blue-background;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .feedback-block {
    background: $blue-background;

    &__wrapper {
      padding-top: 81px;
      padding-bottom: 107px
    }

    &__picture {
      display: none
    }

    &__form-wrapper {
      margin: 0 auto
    }

    h2 {
      margin-bottom: 18px
    }
  }
}

@media screen and(max-width: $mobile-width) {
  .feedback-block {

    &__wrapper {
      padding-top: 33px;
      padding-bottom: 43px;
    }

    &__form {

      label, .button {
        width: 100%
      }

      .button{
        margin-bottom: 27px
      }
    }

    h2 {
      margin-bottom: 12px
    }

    p {
      margin-bottom: 24px
    }
  }
}


