.main-footer {

  &__top {
    padding: 63px 0 30px 0;
    border-bottom: 1px solid #E5E5E5;
    font-size: 15px;
    line-height: 1.7;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column {
    color: $light-text-color;
    padding-bottom: 30px;
  }

  &__links {
    padding-left: 6px;
    flex-basis: 394px;
  }

  &__nav {
    flex-basis: 615px;
  }

  &__contacts {
    padding-left: 6px
  }

  .site-logo {
    display: inline-block;
    margin: 0 0 48px 0
  }

  &__column-header {
    font: 15px/1 "Roboto Condensed", sans-serif;
    color: #1B2D37;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 3px 0 25px
  }

  &__nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__nav-link {
    width: 50%;
  }

  &__nav-link:nth-child(2n+1) {
    padding-right: 65px;
  }

  &__column-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    padding: 15px 0 18px 13px;
    color: $light-text-color;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.04em;
  }

  &__bottom .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__bottom-text {
    flex-grow: 1.1;
  }

  &__bottom-copyright {
    flex-grow: 2.1;
  }

  &__bottom-policy {
    flex-grow: 6
  }

  a:hover {
    color: #666
  }
}

.social-links {
  font-size: 0;

  &__icon {
    display: inline-block;
    margin-right: 6px;

    &:hover svg {
      transform: scale(1.2);
    }
  }
}

@media screen and(max-width: $tablet-width) {
  .main-footer {

    &__top {
      padding: 0
    }

    &__top .wrapper {
      padding: 0
    }

    .site-logo {
      margin-bottom: 0;
    }

    &__column {
      padding-left: 25px;
      padding-right: 25px
    }

    &__links {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e5e5e5;
      padding-top: 20px;
      padding-bottom: 15px;
      margin-bottom: 0;
    }

    &__nav,
    &__contacts {
      flex-basis: 50%;
      padding-top: 36px;
      padding-bottom: 36px
    }

    &__nav-link {
      width: 100%;
    }

    &__nav-link:nth-child(2n+1) {
      padding-right: 0
    }

    &__bottom {
      padding-top: 26px
    }

    &__bottom-text {
      display: none
    }

    &__bottom-copyright {
      flex-grow: 0;
      display: inline-block;
    }
  }
}

@media screen and(max-width: $mobile-width) {
  .main-footer {

    .accordion-block {
      display: none;
      padding: 0 15px 25px;
    }

    &__column-header {
      margin: 0;
      padding: 26px 15px 23px;
      width: 100%;
      cursor: pointer;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: right 15px center;

      &.active {
        background-image: url("../img/icon-minus.svg");

        & + .accordion-block {
          display: flex
        }
      }
    }

    &__links {
      padding: 43px 15px 50px;
      flex-direction: column;
    }

    .site-logo {
      margin-bottom: 21px
    }

    &__bottom-copyright {
      margin-bottom: 28px;
    }

    &__nav,
    &__contacts {
      flex-basis: 100%;
      padding: 0;
    }

    &__nav {
      border-bottom: 1px solid #e5e5e5;
    }

    &__bottom .main-footer__wrapper {
      flex-direction: column;
      align-items: center;

      a:first-of-type {
        margin-bottom: 20px
      }
    }
  }
}


