.main-header {
  color: #fff;
  padding-top: 30px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .site-logo {
    padding-left: 6px;
  }

  .site-logo--mobile {
    display: none
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__menu-link {
    display: flex;
    align-items: center;
    margin-left: 90px;
  }

  &__menu-link:hover {
    color: #c2c6c9
  }

  &__menu-icon {
    margin-right: 15px
  }

  &__button {
    border: 1px solid #fff;
    color: #fff;
    margin-left: 50px;
  }

  &__button:hover {
    background: #fff;
    color: #666
  }
}

@media screen and (max-width: $tablet-width) {
  .main-header {
    padding: 15px 0;

    .site-logo {
      padding: 5px 0 0 0
    }

    &__menu-link {
      font-size: 0;
      margin-left: 30px;
    }

    &__menu-icon {
      margin-right: 0;
      width: 25px;
      height: 19px;
    }

    &__menu-link:nth-of-type(2) .main-header__menu-icon {
      width: 25px;
      height: 25px
    }

    &__button {
      display: none
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .main-header {
    .site-logo {
      display: none
    }

    .site-logo--mobile {
      display: inline-block;
    }
  }
}

