.main-footer {

  &__top {
    padding: 65px 0 30px 0;
    border-bottom: 1px solid #E5E5E5;
    font-size: 15px;
    line-height: 1.7;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column {
    flex-basis: 350px;
    color: $light-text-color;
    padding-bottom: 30px;
  }

  &__nav {
    flex-basis: 616px;
  }

  .site-logo {
    display: inline-block;
    margin-bottom: 40px
  }

  &__column-header {
    font: 15px/1 "Roboto Condensed", sans-serif;
    color: #1B2D37;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 25px
  }

  &__nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__nav-link {
    width: 50%;
  }

  &__nav-link:nth-child(2n+1) {
    padding-right: 65px;
  }

  &__column-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    padding: 20px 0;
    color: $light-text-color;
    text-transform: uppercase;
    font-size: 13px;
  }

  &__bottom .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__bottom-text {
    flex-grow: 1;
  }

  &__bottom-copyright {
    flex-grow: 2;
  }

  &__copyright--tablet {
    display: none;
  }

  &__bottom-policy {
    flex-grow: 6
  }

  a:hover {
    color: #666
  }
}

.social-links {

  &__icon {
    display: inline-block;
    margin-right: 8px
  }
}

.toggle-button {
  display: none;
}

@media screen and(max-width: $tablet-width) {
  .main-footer {

    &__top {
      padding: 0
    }

    &__top .wrapper {
      padding: 0
    }

    .site-logo {
      margin-bottom: 0;
    }

    &__column {
      padding-left: 25px;
      padding-right: 25px
    }

    &__links {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e5e5e5;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 0px;
    }

    &__nav,
    &__contacts {
      flex-basis: 50%;
      padding-top: 30px;
    }

    &__nav-link {
      width: 100%;
    }

    &__nav-link:nth-child(2n+1) {
      padding-right: 0
    }

    &__bottom-text,
    &__bottom-copyright {
      display: none
    }

    &__copyright--tablet {
      display: block;
    }
  }
}

@media screen and(max-width: $mobile-width) {
  .main-footer {

    &__column {
      padding-left: 15px;
      padding-right: 15px
    }

    &__column-header {
      float: left;
      margin-bottom: 0;
    }

    &__links {
      padding-top: 40px;
      padding-bottom: 50px;
      flex-direction: column;
    }

    .site-logo {
      margin-bottom: 15px
    }

    &__copyright--tablet {
      margin-bottom: 25px
    }

    &__nav,
    &__contacts {
      flex-basis: 100%;
    }

    &__nav {
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 23px
    }

    &__bottom .main-footer__wrapper {
      flex-direction: column;
      align-items: center;

      a:first-of-type {
        margin-bottom: 20px
      }
    }
  }

  .toggle-block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    clear: both;

    &.active {
      padding-top: 30px;
    }
  }

  .toggle-button {
    display: block;
    background-color: transparent;
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;
    float: right;
    vertical-align: middle;

    &::after {
      display: inline-block;
      width: 16px;
      height: 16px;
      content: "";
      background-image: url("../img/icon-plus.svg");
      background-size: cover;
      vertical-align: middle;
    }

    &.active:after {
      background-image: url("../img/icon-minus.svg");
      height: 2px;
    }
  }
}

