.main-footer {

  &__block--top {
    padding: 65px 0 60px 0;
    border-bottom: 1px solid #E5E5E5;
    font-size: 15px;
    line-height: 1.7;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column {
    flex-basis: 350px;
    color: $light-text-color
  }

  &__column:nth-child(2) {
    flex-basis: 616px;
  }

  .site-logo {
    display: inline-block;
    margin-bottom: 40px
  }

  &__column-header {
    font: 15px/1 "Roboto Condensed", sans-serif;
    color: #1B2D37;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 25px
  }

  &__column-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column-link{
    width: 50%;
  }

  &__column-link:nth-child(2n+1){
    padding-right: 65px;
  }

  &__column-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__block--bottom {
    padding: 20px 0;
    color: $light-text-color;
  }

  &__block--bottom .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__bottom-info {
    text-transform: uppercase;
    font-size: 13px;
  }

  &__bottom-info:not(:last-of-type) {
    margin-right: 100px
  }
}

.social-links {

  &__icon {
    display: inline-block;
    margin-right: 8px
  }
}
