.popup {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 490px;
  background: $blue-background;
  padding: 35px 40px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  .popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  &__input,
  &__textarea {
    margin-bottom: 30px;
  }

  .button {
    width: 100%;
    margin-bottom: 30px;
  }

  .button:hover {
    background: #fff;
    color: $blue-background
  }
}

.popup-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup.active,
.popup-overlay.active {
  opacity: 1;
  visibility: visible;
}

@media screen and(max-width: $tablet-width) {
  .popup {
    display: none
  }
}
