.main-screen {
  position: relative;
  height: 100vh;
  background-color: $dark-background;
  background-image: url("../img/promo-background.png"), url("../img/promo-img.png");
  background-size: cover, auto;
  background-repeat: no-repeat;
  background-position: 80% 50%, 85.3% 70.9%;
}

.promo-block {
  color: #fff;
  position: relative;
  overflow: hidden;
  height: calc(100% - 88px);

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  &__text {
    max-width: 52%;
  }

  &__subtitle {
    font-size: 22px;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    padding-left: 95px;
    position: relative;
    margin-bottom: 25px;

    &::before {
      position: absolute;
      content: "";
      width: 66px;
      height: 2px;
      background-color: #ffffff;
      left: 3px;
      top: 17px;
    }
  }

  &__button {
    display: inline-block;
    font-size: 16px;
    background: $blue-background;
    border: none;
    margin-left: 95px;
    padding: 20px 0;
    width: 407px;
    text-align: center;
  }

  &__button:hover {
    background: $blue-background-hover;
  }

  &__button--mobile {
    display: none;
  }

  &__img {
    position: relative;
    right: -80px;
  }

  &__scroll-down {
    display: inline-block;
    color: #37434a;
    font-size: 14px;
    transform: rotate(-90deg);
    position: absolute;
    left: -9px;
    bottom: 17%;
    cursor: pointer;
  }

  &__scroll-down:hover {
    color: #fff
  }

}

@media screen and (max-width: $tablet-width) {
  .main-screen {
    background-image: url("../img/promo-background.png"), url("../img/promo-img_tablet.png");
    background-position: 50%, right 0 top 82px;
    background-size: cover, 314px auto;
  }

  .promo-block {

    &__wrapper {
      display: block
    }

    &__text {
      max-width: 493px;
      padding-left: 63px;
      margin-top: 94px;
    }

    &__subtitle {
      font-size: 18px;
      padding-left: 50px;
      margin-bottom: 37px;

      &::before {
        width: 32px
      }
    }

    &__button {
      margin-left: 52px;
      width: 379px;
    }

    &__scroll-down {
      display: none
    }
  }

}

@media screen and (max-width: $mobile-width) {
  .main-screen {
    background-image: url("../img/promo-background.png"), url("../img/promo-img_mobile.png");
    background-size: cover, 294px auto;
    background-position: 50%, right 0 top 92px;
  }

  .promo-block {
    height: calc(100% - 44px);

    &__text {
      padding-left: 0;
      max-width: 100%;
      margin-top: 211px
    }

    &__subtitle {
      font-size: 16px;
      margin-bottom: 25px
    }

    &__button--mobile {
      display: block;
      width: 287px;
      max-width: 100%;
      margin-left: 0
    }

    &__button--desktop {
      display: none;
    }

  }
}

