.promo-block {
  height: 100vh;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%
  }

  &__subtitle {
    font-size: 22px;
    line-height: 1.5;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  &__subtitle-icon {
    width: $subtitle-padding;
    padding-right: 28px;
    margin-top: 15px;
  }

  &__subtitle-text {
    width: calc(100% - #{$subtitle-padding})
  }

  &__button {
    display: inline-block;
    font-size: 16px;
    background: $blue-background;
    border: none;
    margin-left: $subtitle-padding;
    padding: 20px 45px
  }

  &__button:hover {
    background: $blue-background-hover;
  }

  &__img {
    position: relative;
    right: -80px;
  }

  &__scroll-down {
    display: inline-block;
    color: #37434a;
    font-size: 14px;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    bottom: 14%;
    cursor: pointer;
  }

}

