.advantages {

  &__wrapper {
    padding-top: 113px;
    padding-bottom: 113px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages-item {
  flex-basis: 48.7%;
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue-background;
  padding: 40px 40px 65px 40px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s;

  &__icon {
    display: inline-block;
    margin-bottom: 25px;
    fill: $blue-background;
  }

  &__header {
    color: $blue-background;
    font: 24px/1 "Roboto Condensed", sans-serif;
    margin-bottom: 25px
  }

}

.advantages-item:hover {
  background: $blue-background;
  color: #fff;
}

.advantages-item:hover .advantages-item__header {
  color: #fff
}

.advantages-item:hover .advantages-item__icon{
  fill: #fff;
}

