* {
  box-sizing: border-box
}

body {
  font: 16px/1.375 "PT Mono", sans-serif;
}

.wrapper {
  max-width: 1470px;
  padding: 0 30px;
  margin: 0 auto
}

li {
  list-style: none
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer
}
