.main-header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 20px 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__menu-item {
    margin-left: 88px;
  }

  &__menu-item:last-of-type {
    margin-left: 38px;
  }

  &__menu-link {
    display: flex;
    align-items: center;
  }

  &__menu-icon {
    margin-right: 15px
  }

  &__button {
    padding: 14px 33px;
    border: 1px solid #fff;
    color: #fff
  }
}

